

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

* body{
  background-image: url(background-radial-gradient_809109-561.avif);
}

.nav-bar{
  width: 100%;
  padding: 20px 48px;
  border-bottom: 0.5px solid;
  border-color: white;
}

.nav-bar-container{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
}

.logo{
  display: flex; 
  flex-direction: row; 
  column-gap: 8px; 
  align-items: center; 
  text-decoration: none;
}

.brand-logo p{
  color: aqua; 
  font-size: 20px; 
  font-weight: 500;
}

.nav-menu-container{
  width: fit-content;
}

.nav-menu-list{
  display: flex; 
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

.nav-menu-list :hover{
  color: aqua;
  text-decoration: underline;
}

.nav-list{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

.nav-button-container{
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.facebook-link{
  display: flex; 
  flex-direction: row;
  gap: 8px;
  color: white;
  align-items: center;
  text-decoration: none;
}

.button button{
  padding: 10px 18px;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  background-color: aqua;
  font-weight: 400;
}

.fa-facebook{
  color: aqua;
}

.login button{
  background-color: black; 
  color: white;
}

.button :hover{
  background-color: white;
  color: black;
}


/* testimonial-section-style-start-here */

.testimonial-section{
  padding: 100px; 
  width: 100%;
}

.testimonial-container{
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  gap: 120px;
  justify-content: center;
}

.testimonial-title{
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: white;
}

.testimonial-title h2{
  font-size: 48px;
}

.span{
  color: aqua;
  font-style: italic;
  font-weight: 700;
}

.testimonial-title p{
  font-size: 18px;
}


.testimonial-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  align-items: start;
  gap: 20px;
 
}

.testimonial-card{
  height: 100%;
  background-color: rgba(127, 255, 212, 0.172);
  display: flex; 
  flex-direction: column;
  gap: 24px;
  width: fit-content;
  padding: 38px 20px;
  border-radius: 12px;
  border: 1px solid;
  border-color: rgba(245, 245, 245, 0.28);
}

.card-4{
  grid-row: span 2;
}

.card-5{
  grid-row: span 2;
}

.testimonial-image{
  width: 100%;
}

.team-image img{
  width: 100%; 
  border-radius: 8px;
}

.testimonial-company{
  display: flex; 
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
}

.testimonial-company-say p{
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: rgba(245, 245, 245, 0.772);
}

.testimonial-link a{
  color: aqua;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}


/* mobile-responsiveness */

@media (max-width: 768px) {
  * body{
    background-image: url(background-radial-gradient_809109-561.avif);
  }
  
  .nav-bar{
    width: 100%;
    padding: 20px;
    border-bottom: 0.5px solid;
    border-color: white;
    background-image: url(background-radial-gradient_809109-561.avif);
  }
  
  .nav-bar-container{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
  }
  
  .logo{
    display: flex; 
    flex-direction: row; 
    column-gap: 8px; 
    align-items: center; 
    text-decoration: none;
  }
  
  .brand-logo p{
    color: aqua; 
    font-size: 20px; 
    font-weight: 500;
  }
  
  .nav-menu-container{
    display: none;
  }
  
  .nav-menu-list{
    display: none;
  }
  
  .nav-menu-list :hover{
    display: none;
  }
  
  .nav-list{
    display: none;
  }
  
  .nav-button-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
  
  .facebook-link{
    display: flex; 
    flex-direction: row;
    gap: 8px;
    color: white;
    align-items: center;
    text-decoration: none;
  }
  
  .button button{
    padding: 10px 18px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    background-color: aqua;
    font-weight: 400;
  }
  
  .fa-facebook{
    color: aqua;
  }
  
  .login button{
    display: none;
  }
  
  .button :hover{
    background-color: white;
    color: black;
  }
  
  
  /* testimonial-section-style-start-here */
  
  .testimonial-section{
    padding: 64px 20px; 
    width: 100%;

  }
  
  .testimonial-container{
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    gap: 48px;
    justify-content: center;
  }
  
  .testimonial-title{
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: white;
  }
  
  .testimonial-title h2{
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  
  .span{
    color: aqua;
    font-style: italic;
    font-weight: 700;
  }
  
  .testimonial-title p{
    font-size: 16px;
  }
  
  
  .testimonial-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: dense;
    align-items: start;
    gap: 20px;
   
  }
  
  .testimonial-card{
    height: 100%;
    background-color: rgba(127, 255, 212, 0.172);
    display: flex; 
    flex-direction: column;
    gap: 16px;
    width: fit-content;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid;
    border-color: rgba(245, 245, 245, 0.28);
  }
 
  
  .testimonial-image{
    width: 100%;
  }
  
  .team-image img{
    width: 100%; 
    border-radius: 8px;
  }
  
  .testimonial-company{
    display: flex; 
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
  }
  
  .testimonial-company-say p{
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    color: rgba(245, 245, 245, 0.772);
  }
  
  .testimonial-link a{
    color: aqua;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
  }
}

@media (min-width: 768px) {

  
* body{
  background-image: url(background-radial-gradient_809109-561.avif);
}

.nav-bar{
  width: 100%;
  padding: 24px 16px;
  border-bottom: 0.5px solid;
  border-color: white;
}

.nav-bar-container{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
}

.logo{
  display: flex; 
  flex-direction: row; 
  column-gap: 4px; 
  align-items: center; 
  text-decoration: none;
}

.brand-logo p{
  color: aqua; 
  font-size: 16px; 
  font-weight: 500;
}

.nav-menu-container{
  width: fit-content;
}

.nav-menu-list{
  display: flex; 
  flex-direction: row;
  list-style: none;
  gap: 12px;
}

.nav-menu-list :hover{
  color: aqua;
  text-decoration: underline;
}

.nav-list{
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}

.nav-button-container{
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.facebook-follower{
  display: none;
}

.facebook-link{
  display: flex; 
  flex-direction: row;
  gap: 8px;
  color: white;
  align-items: center;
  text-decoration: none;
}

.button button{
  padding: 10px 18px;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  background-color: aqua;
  font-weight: 400;
}

.fa-facebook{
  color: aqua;
}

.facebook-follower{
  display: none;
}

.login button{
  background-color: black; 
  color: white;
}

.login button{
  display: flex;
}

.button :hover{
  background-color: white;
  color: black;
}


/* testimonial-section-style-start-here */

.testimonial-section{
  padding: 64px 32px; 
  width: 100%;
}

.testimonial-container{
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  gap: 100px;
  justify-content: center;
}

.testimonial-title{
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: white;
}

.testimonial-title h2{
  font-size: 48px;
}

.span{
  color: aqua;
  font-style: italic;
  font-weight: 700;
}

.testimonial-title p{
  font-size: 18px;
}


.testimonial-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  align-items: start;
  gap: 20px;
 
}

.testimonial-card{
  height: 100%;
  background-color: rgba(127, 255, 212, 0.172);
  display: flex; 
  flex-direction: column;
  gap: 24px;
  width: fit-content;
  padding: 38px 20px;
  border-radius: 12px;
  border: 1px solid;
  border-color: rgba(245, 245, 245, 0.28);
}

.card-4{
  grid-row: span 2;
}

.card-5{
  grid-row: span 2;
}

.testimonial-image{
  width: 100%;
}

.team-image img{
  width: 100%; 
  border-radius: 8px;
}

.testimonial-company{
  display: flex; 
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
}

.testimonial-company-say p{
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: rgba(245, 245, 245, 0.772);
}

.testimonial-link a{
  color: aqua;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

}

@media (min-width: 1200px) {

  
* body{
  background-image: url(background-radial-gradient_809109-561.avif);
}

.nav-bar{
  width: 100%;
  padding: 20px 48px;
  border-bottom: 0.5px solid;
  border-color: white;
}

.nav-bar-container{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
}

.logo{
  display: flex; 
  flex-direction: row; 
  column-gap: 8px; 
  align-items: center; 
  text-decoration: none;
}

.brand-logo p{
  color: aqua; 
  font-size: 20px; 
  font-weight: 500;
}

.nav-menu-container{
  width: fit-content;
}

.nav-menu-list{
  display: flex; 
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

.nav-menu-list :hover{
  color: aqua;
  text-decoration: underline;
}

.nav-list{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

.nav-button-container{
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.facebook-link{
  display: flex; 
  flex-direction: row;
  gap: 8px;
  color: white;
  align-items: center;
  text-decoration: none;
}

.facebook-follower{
  display: flex;
}

.button button{
  padding: 10px 18px;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  background-color: aqua;
  font-weight: 400;
}

.fa-facebook{
  color: aqua;
}

.login button{
  background-color: black; 
  color: white;
}

.button :hover{
  background-color: white;
  color: black;
}


/* testimonial-section-style-start-here */

.testimonial-section{
  padding: 100px; 
  width: 100%;
}

.testimonial-container{
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  gap: 120px;
  justify-content: center;
}

.testimonial-title{
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: white;
}

.testimonial-title h2{
  font-size: 48px;
}

.span{
  color: aqua;
  font-style: italic;
  font-weight: 700;
}

.testimonial-title p{
  font-size: 18px;
}


.testimonial-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  align-items: start;
  gap: 20px;
 
}

.testimonial-card{
  height: 100%;
  background-color: rgba(127, 255, 212, 0.172);
  display: flex; 
  flex-direction: column;
  gap: 24px;
  width: fit-content;
  padding: 38px 20px;
  border-radius: 12px;
  border: 1px solid;
  border-color: rgba(245, 245, 245, 0.28);
}

.card-4{
  grid-row: span 2;
}

.card-5{
  grid-row: span 2;
}

.testimonial-image{
  width: 100%;
}

.team-image img{
  width: 100%; 
  border-radius: 8px;
}

.testimonial-company{
  display: flex; 
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
}

.testimonial-company-say p{
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: rgba(245, 245, 245, 0.772);
}

.testimonial-link a{
  color: aqua;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}
  
  }

